<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Master</title>
</head>
<body>
    <div class="nav-layout">
        <nav class="nav-bar">
            <ul>
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('project_page') }}">Projects</a></li>
            </ul>

            <form action="{{ url_for('logout')}}" method="POST">
                <button type="submit">Logout</button>
            </form>
        </nav>
    </div>

    <h1>Dashboard</h1>
    <h2>Welcome, {{ current_user.firstName | capitalize }}</h2>
    
</body>
</html>