{% extends 'base_form.html' %}
{% block styles %} <link rel="stylesheet" href="{{ url_for('static', filename= 'css/forms.css') }}"> {% endblock %}
{% from 'macros.html' import  with_errors, btn_primary, btn_secondary %}


    {% block form_title %} Edit Task {% endblock %}

    {% block form %}
    {{ with_errors(form.taskName) }}
    {{ with_errors(form.description) }}
    {{ with_errors(form.status) }}
    {{ with_errors(form.dueDate) }}

    <div class="btn-group">
        {{ btn_primary('Submit')}}
        {{ btn_secondary('Cancel', "project_detail", task.projectId)}}
    </div>

    {% endblock %}