{% extends "base.html" %}
{% from "macros.html" import with_errors %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/forms.css')}}">
{% endblock %}

{% block content %}
    <section class="form-container">
      <article class="login-card">
          <h1 class="form-header">Login</h1>
          <form class="login-form" action="{{ url_for('login') }}" method="POST">
            {{ form.hidden_tag() }}
            {% for message in get_flashed_messages() %}
            <span class="success">{{ message }}</span>
            {% endfor %}
            {{ with_errors(form.email) }}
            {{ with_errors(form.password) }}
            <p class="form-hint">Don't have an account?</p>
            <a class="btn btn-secondary" href="{{ url_for('register')}}">Create an account</a>
            <button class=" btn btn-primary" type="submit">login</button>
          </form>
         
      </article>
    </section>
{% endblock %}


