{% extends "base_form.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/forms.css')}}">
{% endblock %}

   {% block form_title %} Login {% endblock %}
   {% block form %}
   {% import 'macros.html' as form_macro %}
   {{ form_macro.login_errors( form.email) }}
   {{ form_macro.login_errors( form.password ) }}
   <p class="form-hint">Don't have an account?</p>
   <div class="form-field">
   {% block button_group %}
       {% import 'macros.html' as form_macro %}
       {{form_macro.btn_secondary('Register', 'register')}}
       {{form_macro.btn_primary('Login')}}
   </div>

   {% endblock %}
   {% endblock %}



