    {% extends 'base.html' %}
    {% block styles %} <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css' )}} "> {% endblock %}
    {% block content %}
    <div class="form-container">
        <div class="new-project-card">
            <h1 class="card-title">Create New Project</h1>
            <form class="new-project-form" action="{{ url_for('new_project') }}" method="POST">
                <div class="form-field">
                    <label for="text">Project Name:</label>
                    <input type="text" id="projectName" name="projectName">
                </div>
                <div class="form-field">
                    <label for="description">Description:</label>
                    <textarea id="description" name="description"></textarea>
                </div>
                <div class="form-field">
                    <label for="start-date">Start Date:</label>
                    <input type="date" id="start-date" name="startDate">
                </div>
                <div class="form-field">
                    <label for="status">Status:</label>
                    <select id="status" name="status">
                        <option value="inactive">Inactive</option>
                        <option value="active">Active</option>
                        <option value="completed">Completed</option>
                    </select>
                </div>
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit">Create Project</button>
                    <a class="btn btn-secondary" href="{{ url_for('project_page') }}">Go back</a>
                </div>
            </form>
                
        </div>
    </div>


    {% endblock %}