<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Master</title>
</head>
<body>
    <h1>New Milestone</h1>
    
    <form action= "{{ url_for('new_milestone', projectId=project.projectId) }}" method="POST">
        
        <div class = "form-group">
            <label for="milestoneName"><strong>Milestone Name:</strong></label>
            <input type="text" id="milestoneName" name="milestoneName" required>  
        </div>
        
        <div class = "form-group">
            <label for="milestoneDescription">Description (optional):</label>
            <textarea id="milestoneDescription" name="milestoneDescription"></textarea>
        </div>

        <div class = "form-group">
            <label for="milestoneStartDate">Start Date:</label>
            <input type="date" id="milestoneStartDate" name="milestoneStartDate" required>
        </div>

        <div class = "form-group">
            <label for="milestoneEndDate">End Date:</label>
            <input type="date" id="milestoneEndDate" name="milestoneEndDate">
        </div>

        <div class = form-group>
            <label for="milestoneStatus">Status:</label>
        <select id="milestoneStatus" name="milestoneStatus">
            <option value="Not Started">Not Started</option>
            <option value="Started">Started</option>
            <option value="Completed">Completed</option>
        </select>
        </div>

        <div class ="submit-button">
            <button type="submit">Create Milestone</button>
        </div>
    </form>

</body>
</html>