{% extends 'base_form.html' %}
{% block styles %} <link rel="stylesheet" href="{{ url_for('static', filename= 'css/forms.css') }}"> {% endblock %}
{% block form_title %} New Milestone {% endblock %}

{% block form %}
{% from 'macros.html' import with_errors %}
{{ with_errors(form.milestoneName) }}
{{ with_errors(form.description) }}
{{ with_errors(form.startDate) }}
{{ with_errors(form.endDate) }}
{{ with_errors(form.status) }}
  <div class="btn-group">
    {% block button_group %}
    {% from 'macros.html' import btn_primary, btn_secondary %}
    {{ btn_primary('Submit') }}
    {{ btn_secondary('Cancel', 'project_detail', projectId)}}
    {% endblock %}
  </div>
{% endblock %}