{% extends 'base.html' %}
{% block styles %} <link rel="stylesheet" href="{{ url_for('static', filename= 'css/forms.css') }}"> {% endblock %}
{% block content %}
    <div class="form-container">
        <div class="new-milestone-card">
            <h1 class="card-title">New Milestone</h1>
        
            <form class="new-milestone-form" action= "{{ url_for('new_milestone', projectId=project.projectId) }}" method="POST">
        
                <div class = "form-field">
                    <label for="milestoneName"><strong>Milestone Name:</strong></label>
                    <input type="text" id="milestoneName" name="milestoneName" required>
                </div>
        
                <div class = "form-field">
                    <label for="milestoneDescription">Description (optional):</label>
                    <textarea id="milestoneDescription" name="milestoneDescription"></textarea>
                </div>
                <div class = "form-field">
                    <label for="milestoneStartDate">Start Date:</label>
                    <input type="date" id="milestoneStartDate" name="milestoneStartDate" required>
                </div>
                <div class = "form-field">
                    <label for="milestoneEndDate">End Date:</label>
                    <input type="date" id="milestoneEndDate" name="milestoneEndDate">
                </div>
                <div class = "form-field">
                    <label for="milestoneStatus">Status:</label>
                <select id="milestoneStatus" name="milestoneStatus">
                    <option value="Not Started">Not Started</option>
                    <option value="Started">Started</option>
                    <option value="Completed">Completed</option>
                </select>
                </div>
                <div class ="btn-group">
                    <button class="btn btn-primary" type="submit">Create Milestone</button>
                    <a class="btn btn-secondary" href="{{ url_for('project_page', projectId = project.projectId) }}">go back</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}