    {% extends 'base_form.html' %}
    {% block styles %} <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css' )}} "> {% endblock %}
    
    <!-- form -->
     {% block form_title %} Create Project {% endblock %}
     {% block form %}
     {% from 'macros.html' import with_errors %}
     {{ with_errors(form.projectName) }}
     {{ with_errors(form.description) }}
     {{ with_errors(form.status) }}
     {{ with_errors(form.startDate) }}

     {% block button_group %}
     {% from 'macros.html' import btn_primary, btn_secondary %}
     <div class="btn-group">
     {{ btn_primary('Submit')}}
      {{ btn_secondary('Cancel', 'project_page', None)}}
     </div>
     {% endblock %}
     {% endblock %}