{% extends 'base_form.html' %}
{% block styles %} <link rel="stylesheet" href="{{ url_for('static', filename= 'css/forms.css') }}"> {% endblock %}
{% from 'macros.html' import with_errors, btn_primary, btn_secondary %}

{% block form_title %}Create Task {% endblock %}

{% block form %}
    {{ with_errors(form.taskName) }}
    {{ with_errors(form.description) }}
    {{ with_errors(form.status) }}
    {{ with_errors(form.dueDate) }}

    {% block btn_group %} <div class="btn-group">{{ btn_primary('Submit') }} {{ btn_secondary('Cancel', 'project_detail', projectId) }} </div> {% endblock %}
{% endblock %}
