{% extends 'base.html' %}
{% block styles %} <link rel="stylesheet" href="{{ url_for('static', filename= 'css/forms.css') }}"> {% endblock %}
{% block content %}
    <div class="form-container">
        <div class="new-task-card">
            <h1 class="card-title">Create a new task</h1>
            <form class="new-task-form" action=" {{ url_for('new_task', projectId=projectId) }}" method="POST">
                <div class = 'form-field'>
                    <label for = taskName>Task Name:</label>
                    <input type="text" id="taskName" name="taskName" required>
                </div>
                <div class= 'form-field'>
                    <label for= "taskDescription">Task Description:</label>
                    <textarea id="taskDescription" name="taskDescription"></textarea>
                </div>
                <div class = 'form-field'>
                    <label for="taskStatus">Status:</label>
                    <select id="taskStatus" name="taskStatus">
                        <option value="Not Started">Not Started</option>
                        <option value="Started">Started</option>
                        <option value="Completed">Completed</option>
                    </select>
                </div>
                <div class = 'form-field'>
                    <label for ='taskDueDate'>Due Date:</label>
                    <input type="date" id="taskDueDate" name="taskDueDate">
                </div>
                <div class = 'form-field'>
                    <label for = 'taskAssignment'>Task Assignment:</label>
                    <select id="taskAssignment" name="taskAssignment">
                        <option value="0">Independent Task</option>
                        {% for milestone in milestones %}
                          <option value=" {{ milestone.milestoneId }}">{{ milestone.milestoneName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class = 'btn-group'>
                    <button class="btn btn-primary" type="submit">Create Task</button>
                    <a class="btn btn-secondary" href="{{ url_for('project_detail', projectId= projectId) }}">go back</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
