{% extends "base.html" %}
    {% block content %}
    <h1>Projects</h1>

    <div class="new-prj-bttn">
        <a href="{{ url_for('new_project')}}">Create New Project</a>
    </div>
    
    <section class="project-container" aria-label="Project cards">
        {% for project in projects %}
            <article class = "project-card">
                <h2>{{ project.projectName }}</h2>
                
                {% if project.description %}
                  <p>{{ project.description }}</p>  
                {% else %}
                  <p>No description provided</p>
                {% endif %}
                
                {% if project.startDate %}
                  <p><strong>Start Date:</strong> {{ project.startDate }}</p>
                {% else %}
                  <p><strong>Start Date:</strong> No start date provided</p>
                {% endif %}
                
                <p><strong>Status:</strong> {{ project.status }}</p>

              <div class = "project-actions">
                <a href="{{ url_for('edit_project', projectId=project.projectId) }}">Edit Project</a>
                <a href="{{ url_for('project_detail', projectId=project.projectId)}}">View details</a>
              </div>
            
                
            </article>

        {% else %}
            <p>No projects available</p>
        {% endfor %}

        </section>
{% endblock %}
