<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Master</title>
</head>
<body>
        <div class="nav-layout">
        <nav class="nav-bar">
            <ul>
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('project_page') }}">Projects</a></li>
            </ul>

            <form action="{{ url_for('logout')}}" method="POST">
                <button type="submit">Logout</button>
            </form>
        </nav>
    </div>
    
    <h1>Projects</h1>

    <div class="new-prj-bttn">
        <a href="{{ url_for('new_project')}}">Create New Project</a>
    </div>
    
    <div class="project-list">
        {% for project in projects %}
            <div class = "project-card">
                <h2>{{ project.projectName }}</h2>
                
                {% if project.description %}
                  <p>{{ project.description }}</p>  
                {% else %}
                  <p>No description provided</p>
                {% endif %}
                
                {% if project.startDate %}
                  <p><strong>Start Date:</strong> {{ project.startDate }}</p>
                {% else %}
                  <p><strong>Start Date:</strong> No start date provided</p>
                {% endif %}
                
                <p><strong>Status:</strong> {{ project.status }}</p>
                
            </div>

            <div class = "project-actions">
                <a href="{{ url_for('edit_project', projectId=project.projectId) }}">Edit Project</a>
                <a href="{{ url_for('project_detail', projectId=project.projectId)}}">View details</a>
            </div>
            
        

        {% else %}
            <p>No projects available</p>
        {% endfor %}

    </div>
    
</body>
</html>