{% extends "base.html" %}
{% block styles %} <link rel="stylesheet" href="{{url_for('static', filename='css/project-detail.css')}}"> {% endblock %}
{% block content %}
    <!-- Project Header Section -->
    
        <div class="project-detail-body">
          <div class="project-card-header" aria-label="current project header">
              <div class="project-card-header-left">
                <h2 class="project-title">{{ project.projectName  }}</h2>
                {% if project.startDate %}
                  <p><strong>Started:</strong> {{ project.startDate }}</p>
                {% else %}
                  <p><strong>Started:</strong> N/A</p>
                {% endif %}
                <p>{{ project.status }}</p>
                {% if project.description%}
                  <p>{{ project.description }}</p>
                {% else %}
                  <p> No description provided</p>
                {% endif %}
              </div>

            <div class="project-card-header-right">
                 <form method="POST" action="{{ url_for('delete_project',projectId = project.projectId)}}">
                  <button class="btn btn-danger" type="submit">Delete</button>
              </form>
            </div>
            </div>
          
              <!-- milestone section -->
          
              <div class="detail-body">
                <div class="milestone-column">
                  <div class="section-header" aria-label="Milestone section begins">
                    <h3 class="section-title">Milestones:</h3>
                    <a href="{{ url_for('new_milestone', projectId=project.projectId) }}" class="btn btn-secondary">Create Milestone</a>
                  </div>
                
                      {% if milestones %}
                        <div class="milestone-grid">
                          {% for milestone in milestones %}
                          <div class="milestone-card">
                            <div class="milestone-card-actions">
                              <a href="{{ url_for('edit_milestone', projectId=project.projectId, milestoneId=milestone.milestoneId) }}" class="btn btn-secondary">Edit</a>
                              <form method="POST" action="{{ url_for('delete_milestone', projectId=project.projectId, milestoneId = milestone.milestoneId) }}">
                                <button class="btn btn-danger" type="submit">Delete</button>
                              </form>
                            </div>
                              <p><strong>{{ milestone.milestoneName }}</strong></p>
                              <p><strong>Due:</strong> {{ milestone.endDate }}</p>
                              <p>{{ milestone.status }}</p>
                              {% if milestone.description %}
                                <p>{{ milestone.description }}</p>
                            {% else %}
                              <p> No description provided</p>
                            {% endif %}
                                <ul class="task-list">
                                  {% if tasks %}
                                    <li><a class="btn btn-secondary" href="{{ url_for('new_task', projectId = project.projectId)}}">new task</a></li>
                                    {% for task in tasks %}
                                          {% if task.milestoneId == milestone.milestoneId %}
                                          <li>{{ task.taskName }}  <strong>Status:</strong> {{ task.status }}
                                            <a class="btn btn-secondary" href="{{ url_for('edit_task', projectId=project.projectId, taskId=task.taskId)}}">edit task</a>
                                             <form method="POST" action="{{ url_for('delete_task', projectId=project.projectId, taskId=task.taskId) }}">
                                               <button type="submit" class="btn btn-danger">Delete</button>
                                             </form>
                                          </li>
                                          {% endif %}
                                    {% endfor %}
                                  {% else %}
                                    <li><a class="btn btn-secondary" href="{{ url_for('new_task', projectId = project.projectId)}}">new task</a></li>
                                  {% endif %}
                                </ul>
                          </div>
                          {% endfor %}
                        </div>
                          {% else %}
                          None
                          {% endif %}
                </div>
                <!-- Independent Task section -->
                             <div class="independent-task-column">
                 <h3>Independent Tasks:</h3>
                 {% if independentTasks %}
                    <ul class="independent-task-list">
                      <li><a class="btn btn-secondary" href=" {{ url_for('new_task', projectId = project.projectId) }}">Create independent task</a></li>
                      {% for task in independentTasks %}
                        <li>{{ task.taskName }} <a href="{{ url_for('edit_task', projectId=project.projectId, taskId=task.taskId)}}" class="btn btn-secondary">edit task</a>
                          <form method="POST" action="{{ url_for('delete_task', projectId=project.projectId, taskId=task.taskId) }}">
                            <button type="submit" class="btn btn-danger">delete</button>
                          </form>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <ul class="independent-task-list">
                      <li><a class="btn btn-secondary" href=" {{ url_for('new_task', projectId = project.projectId) }}">Create independent task</a></li>
                    </ul>
                  {% endif %}
                             </div>
                        </div>
              </div>
{% endblock %}