{% extends "base.html" %}
{% block content %}
    
    <div class="project-detail-card">
        <div class="project-card-header">
            <h2 class="project-title">{{ project.projectName  }}</h2>
             
            {% if project.startDate %}
              <p><strong>Start Date:</strong> {{ project.startDate }}</p>
            {% else %}
              <p><strong>Start Date:</strong>No start date provided</p>
            {% endif %}
        </div>

        <div class="project-card-body">
            <p><strong>Status:</strong> {{ project.status }}</p>
            {% if project.description%}
              <p><strong>Description:</strong> {{ project.description }}</p>
            {% else %}
              <p><strong>Description:</strong> No description provided</p>
            {% endif %}
            <h3>Milestones:</h3> <a href="{{ url_for('new_milestone', projectId=project.projectId) }}">Create Milestone</a>
            <div>
                {% if milestones %}

                    {% for milestone in milestones%}
                    <a href="{{ url_for('edit_milestone', projectId=project.projectId, milestoneId=milestone.milestoneId) }}">Edit Milestone</a>
                    <p><strong>Milestone:</strong> {{ milestone.milestoneName }}</p>
                    <p><strong>Due Date:</strong> {{ milestone.endDate }}</p>
                    <p><strong>Status:</strong> {{ milestone.status }}</p>
                    {% if milestone.description %}
                        <p><strong>Description:</strong> {{ milestone.description }}</p>
                    {% else %}
                        <p><strong>Description:</strong> No description provided</p>
                    {% endif %}

                        <ul>
                            {% for task in tasks %}
                                {% if task.milestoneId == milestone.milestoneId %}
                                <li>{{ task.taskName }}  <strong>Status:</strong> {{ task.status }}  
                                <a href="{{ url_for('edit_task', projectId=project.projectId, taskId=task.taskId)}}">edit task</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endfor %}

                    <a href="{{ url_for('new_task', projectId = project.projectId)}}">Add task to milestone</a>
                    
                    {% else %}
                      
                    None
                    {% endif %}
            </div>

           <p><strong>Independent Tasks:</strong></p>
           <a href=" {{ url_for('new_task', projectId = project.projectId) }}">Create independent task</a>
           {% if independentTasks %}
              <ul>
                {% for task in independentTasks %}
                  <li> {{ task.taskName }} <strong>Status:</strong> {{ task.status }}</li>
                {% endfor %} 
              </ul>
            {% else %}
              <p>No independent tasks</p>
            {% endif %}
        </div>
    </div>
    
</body>
{% endblock %}